.DS_Store
*.xcuserstate

## Clone -> Instagram ignore
Clone\ App/Instagram/Instagram/Private

## Combine -> StudyWithYoutube -> Transform_Input&Output ignore
Combine/StudyWithYoutube/Transform_Input\&Output/Transform_Input\&Output/Private

